footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 15px;
    margin: 20px;
    bottom: 20px;
    
    img {
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        background-color: $main-color;
    }
}

@media(min-width:500px){

}

@media(min-width: 768px){
    footer {
        display: flex;
        flex-direction: row;
        width: min-content;
        border-radius: 20px;
        padding: 15px;
        margin: 20px;
        background-color: $main-color;
        margin-left: 75%;
        position: sticky;
        bottom: 20px;
    }

    footer img {
        height: 45px;
        width: 45px;
        padding: 10px;
        border-radius: 20px;
        background-color: $main-color;
    }
}

@media(min-width:1024px){
    footer img {
        height: 60px;
        width: 60px;
        padding: 10px;
        border-radius: 20px;
        background-color: $main-color;
    }

    footer {
        margin-left: 79%;
    }

}